.title{
    text-align: center;
}


html, body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    
    height: 100%;
    width: 100%;
}

article {
    margin: 0 auto;
    border: 5px solid transparent;
    background-color: bisque;
    width: calc(90% - 10px);
    height: calc(100% - 10px);
}

header {
    text-align: center;
    color: azure;
    font-weight: bold;
    font-size: 2em;
    padding: 10px;

    border-bottom: 5px solid transparent;
    height: calc(10% - 25px);
}

#esquerda {
    float: left;
    width: 20%;
    height: 85%;
    background-color: bisque;
}

ul#menu{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    width: 100%;
}
ul#menu a {
    display: inline-block;
    padding: 5px 5px 5px 27px;
    width: calc(100% - 32px);
    text-decoration: none;
    color: burlywood;

}
ul#menu a:hover{
    color: azure;
    background-color: antiquewhite;
}
#direita{
    float: rigth;
    padding: 0 10px;
    height: 80%;
    width: calc(100% - 20px);
    background-color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    justify-content: space-around;
}

footer {
    clear: both;
    text-align: left;
    color: black;
    font-size: 0.8em;
    padding: 15px 5px;
    border-top: 5px solid transparent;
    height: calc(10% - 35px);
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}